.user-list-container {
  padding: 24px;
  background: #fff;
}

.breadcrumb {
  margin-bottom: 16px;
}

.page-title {
  margin-bottom: 16px;
}

.create-button {
  margin-bottom: 16px;
}
.regist-admin-button {
  float: right;
}

.user-edit-button,
.user-delete-button {
  margin-right: 20%;
  width: 20%;
}

.ant-table-wrapper {
  margin-top: 16px;
}

.ant-modal-content {
  padding: 24px;
}

.ant-modal-footer {
  text-align: center;
}

.ant-modal-footer button {
  margin-right: 8px;
}
