.product-list-container {
  padding: 24px;
  background: #fff;
}
.search-input {
  right: 0%;
  float: right;
  width: 400px;
  position: relative;
}

.breadcrumb {
  margin-bottom: 16px;
}

.page-title {
  margin-bottom: 16px;
}

.create-button {
  margin-bottom: 16px;
}

.edit-button,
.delete-button {
  margin-right: 0px;
  width: 20%;
}

.unpublish-button {
  margin-left: 9%;
  width: 50px;
}
.publish-button {
  margin-left: 9%;
  width: 50px;
}

.ant-table-wrapper {
  margin-top: 16px;
}

.ant-modal-content {
  padding: 24px;
}

.ant-modal-footer {
  text-align: center;
}

.ant-modal-footer button {
  margin-right: 8px;
}
